@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('colors.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    scrollbar-width: auto;
    scrollbar-color: #262626 #333333;
    
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #333333;
}

*::-webkit-scrollbar-thumb {
    background-color: #262626;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Barlow', sans-serif;
    background: var(--grey-10);
}

a{
    text-decoration: none;
}

section{
    margin: 0 162px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--grey-15);
    padding: 20px 162px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid var(--grey-15);
    padding: 20px 162px;
}

.banner{
    background: rgb(19, 19, 19);
    padding: 120px 300px;
    text-align: center;
    border:1px solid var(--grey-15);
    border-top: none;
    border-bottom: none;
}

.banner > h1{
    color:var(--absolute-white);
    font-weight: 600;
    font-size: 48px;
}

.banner > p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.6%;
    line-height: 24px;
    color: var(--grey-90);
}

nav > ul{
    list-style: none;
    display: flex;
}

nav > ul > li > a{
    padding: 14px 28px;
    font-weight: 500;
    color:var(--absolute-white);
    border-radius: 8px;
}

nav > ul > li > a:hover:not(.selected){
    outline: 1px solid var(--grey-15);
}

nav > ul > li >.selected{
    background: var(--grey-15);
    border-radius: 8px;
}

.contact-us-btn{
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    padding:16px 24px;
    color:var(--absolute-black);
    background-color: var(--green-50);
    border: 2px solid var(--green-50);
    border-radius: 8px;
    position: relative;
}
.contact-us-btn::before{
    content: '';
    height: 10px;
    width:10px;
    background-color: var(--grey-15);
    border-radius: 50%;
    position: absolute;
    left: -11px;
    bottom: -11px;
    transition: transform 300ms ease-in-out;
}

.contact-us-btn:hover::before{
    transition: transform 300ms ease-in-out;
    transform: scale(30);
}

.contact-us-btn > span{
    position: relative;
    transition:color 200ms ease-in-out;
    z-index: 99;
}

.contact-us-btn:hover > span{
    transition:color 200ms ease-in-out;
    transition-delay: 100ms;
    color:var(--green-50)
}

footer{
    padding: 50px 162px;
    border-top:1px solid var(--grey-15);
}

.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav > ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0 0 0 10em;
}

.footer-nav > ul > li > a{
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color:var(--absolute-white);
    border-radius: 8px;
}

.footer-nav > ul > li > a:hover{
    color: var(--grey-60);
}

.footer-socials{
    color: var(--absolute-white);
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 14px 24px;
    gap: 20px;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
}

.socials{
    display: flex;
    gap: 14px;
}

.socials > a > i{
    border:1px solid var(--grey-15);
    border-bottom: none;
    border-radius: 8px;
    color: var(--green-50);
    padding: 20px;
    font-size: 24px;
    background: rgb(36,36,36);
    background: linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(36,36,36,0) 100%);
}

.socials > a > i:hover{
    color: var(--green-70)
}

footer > hr{
    margin: 50px 0;
    border: none;
    height: 1px;
    background-color: var(--grey-15);
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
}

.footer-contact-links{
    display: flex;
    gap: 30px;
}

.footer-contact-links > a{
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-90);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey-15);
}

.footer-contact-links > a:hover{
    color: var(--grey-60);
}

.footer-contact-links > a > i{
    color:var(--green-50);
    margin: 0 10px 0 0;
}

.copyrights{
    color: var(--grey-60);
    font-size: 18px;
    line-height: 150%;
}

.banner-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    background-color: rgb(19, 19, 19);
    padding: 120px 350px;
    text-align: center;
    border-left: 1px solid var(--grey-15);
    border-right: 1px solid var(--grey-15);
}

.contact-banner{
    position: relative;
}
.contact-banner::before{
    background-image: url("../img/backgrounds/Container (2).png");
    filter: brightness(20%);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.banner-h1-p{
    position: relative;
    display: flex;
    gap:18px;
    flex-direction: column;
}

.banner-h1-p > h1 {
    color:var(--absolute-white);
    font-size: 38px;
}

.banner-h1-p > p {
    color:var(--grey-90);
    font-size: 18px;
}

.banner-contact > img{
    position: relative;
    width: 80px;
    aspect-ratio: 1/1;
}


.banner-contact > a{
    color: var(--absolute-black);
    overflow: hidden;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    padding: 18px 34px;
    color:var(--absolute-black);
    background-color: var(--green-50);
    border: 2px solid var(--green-50);
    border-radius: 8px;
    position: relative;
}
.banner-contact > a::before{
    content: '';
    height: 10px;
    width:10px;
    background-color: var(--grey-15);
    border-radius: 50%;
    position: absolute;
    right: -11px;
    bottom: -11px;
    transition: transform 300ms ease-in-out;
}

.banner-contact > a:hover::before{
    transition: transform 300ms ease-in-out;
    transform: scale(38);
}

.banner-contact > a > span{
    position: relative;
    transition:color 200ms ease-in-out;
    z-index: 99;
}

.banner-contact > a:hover > span{
    transition:color 200ms ease-in-out;
    transition-delay: 100ms;
    color:var(--green-50)
}